<html>
    <head>
        <script type="text/javascript" src="./node_modules/jbone/dist/jbone.js"></script>
        <script type="text/javascript" src="./node_modules/underscore/underscore.js"></script>
        <script type="text/javascript" src="./node_modules/backbone/backbone.js"></script>
        <script type="text/javascript" src="./app/BackboneApp.js"></script>
        <!--<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" />-->
    </head>
    <body>
<script >
    window.onload = function() {
        var app = new ScreenViewApp();
        app.start();
    }
</script>

<div id="pageLayoutRegion">
</div>

<script type="text/template" id="itemCollectionViewTemplate">
    <h1> <%= Title %> </h1>
    <ul id="ulRegions">
    </ul>
    <div> Selected Item : 
        <%= SelectedItem.Id %> - 
        <%= SelectedItem.DisplayName %> </div>
</script>
        
<script type="text/template" id="itemViewTemplate">
    <button class="btn btn-primary"><%= DisplayName %></button>
</script>

    </body>
</html>