<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' 
    href='../node_modules/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' 
    href='../css/app.css' />
<script src="../node_modules/underscore/underscore-min.js"></script>
<title>{{title}}</title>
</head>

    {{{body}}}

</html>
